@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.eb-garamond-normal {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.karla-normal {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
.slider-container {
  position: relative;
  height: 12px;
  padding: 13px;
  background-color: #e0e0e0; 
  border-radius: 20px;
}

.slider-progress {
  position: absolute;
  height: 10px;
  background-color: #007bff; 
  border-radius: 1px;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider-label {
  position: absolute;
  bottom: 24px;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.slider-label::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  transform: translateX(-50%);
}
